/* #aboutSection {
    background: linear-gradient(180deg, rgba(27, 16, 62, 1) 56%, rgba(30, 60, 106, 1) 90%);
} */

#aboutSection .imageAndTitle {
    font-size: 2rem;
}

.imageAndTitle img {
    max-width: 100%;
    height: auto;
    display: block;
}

#aboutSection .aboutTitle {
    font-family: var(--main-font);
}

.aboutSectiontwo {
    font-family: var(--secondary-font);
}

.aboutSectiontwo p {
    font-size: larger;
}

.aboutSectiontwo .line {
    height: 12px;
    background-color: #7e6dea;
    border-radius: 12px;
    margin-bottom: 10px;
    width: 100%;
}

.aboutSectiontwo .dis2::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 5px;
    border-radius: 12px;
    left: 0;
    background-color: #f3f0f0;
}

.swiperSection1 {
    height: 300px;
    display: flex;
    align-items: center;
}

.swiperItem {
    background-color: white;
    border-radius: 10px;
    color: #7e6dea;
    font-weight: bold;
    height: 240px;
    transition: 0.5s;
}

.services .ship {
    padding: 0px 20px;
}

.services .ship .shipHeader {
    position: absolute;
    width: 50px;
    height: 40px;
    background-color: #7e6dea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.services .ship .shipHeader .ballsAndSquer {
    height: 10px;
    width: 100%;
    background-color: #cc2af3;
    display: flex;
    justify-content: center;
    gap: 3px;
    align-items: center;
}

.services .ship .shipHeader .shipBody {
    bottom: -5px;
}

.services .ship .shipHeader .ball {
    width: 5px;
    background-color: white;
    height: 5px;
    border-radius: 100%;
}

.services .ship .shipHeader .squer {
    width: 20px;
    background-color: white;
    height: 5px;
}

.services .dis {
    padding: 0px 20px;
}

.services .swiperItem .icon {
    padding: 0px 20px;
}

.services .swiperItem .arrowicon {
    width: 30px;
    height: 30px;
    background-color: #7e6dea;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 100%;
    rotate: 225deg;
}

.swiperSection1 .item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-projects img {
    height: 100%;
}

/* .main-projects .the3images {
    height: 160px;
} */

.main-projects .imageL {
    height: 295px;
}

/* .proBackground {
    background: rgba(104, 28, 140, 0.44);
    background: radial-gradient(circle, rgba(104, 28, 140, 0.7) 0%, rgba(192, 40, 231, 0.08) 100%);
} */
.main-projects button {
    transition: 0.5s;
}

.main-projects button.active {
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    transition: 0.5s;
    background-color: #27b6e3;
    color: white;
    font-weight: bold;
    font-family: revert;
}

.main-projects button.active:hover {
    transform: scale(0.9);
}

.main-projects button:hover {
    background-color: #27b6e3;
    color: white;
    transform: scale(0.9);
}

.slideForTeam .teamItem {
    font-family: "Sora";
}

.slideForTeam .teamItem .dis {
    font-size: small;
}

.slideForTeam .teamItem .postion {
    color: #27b6e3;
}

.contactUSSection .infos {
    font-family: "Sora";
}

.contactUsFromInputs {
    background-color: #ffffff;
    border-radius: 10px;
    font-family: "Sora";
}

.contactUsFromInputs .inputs {
    background-color: #c9edf8;
    border-radius: 10px;
    border: none;
}

.contactUsFromInputs button {
    border: none;
    background-color: #27b6e3;
    border-radius: 10px;
    color: white;
    transition: 0.5s;
}

.contactUsFromInputs button:hover {
    transform: scale(0.9);
}

.footerContent {
    height: 20rem;
    background-color: #1b113f;
    padding-top: 30px;
    font-family: "Sora";
}

.footerContent .menu a {
    color: white;
    text-decoration: none;
    font-size: small;
}

.footerContent .menu .title {
    opacity: 0.7;
    font-weight: 100;
    margin-bottom: 15px;
}

.footerContent .icons a {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #2d244e;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
}

.tarmsAndPolicyS {
    font-size: x-small;
    opacity: 0.7;
}

.tarmsAndPolicyS .tarmsAndPolicy a {
    text-decoration: none;
    color: white;
}

.font-monospace {
    font-size: 3rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .aboutSectiontwo p {
        font-size: 0.8rem;
    }

    .aboutSectiontwo .w-75 {
        width: 100% !important;
    }

    .main-info p {
        font-size: 2rem;
    }
}
